.rect{
    background-color: rgb(78, 247, 16);
    height: 200px;
    width: 200px;
    transition: background-color 0.5s;
    transition: all 0.05s;

}
.rect:hover{
    background-color: blue;
}
button{
    width: 200px;
    background-color: beige;
    transition: all 0.05s;
}
button:hover{
    width: 100px;
    background-color: blanchedalmond;
}
.rect1{
    background-color:rgb(89, 255, 114);
    width: 200px;
    height: 200px;
    animation: test_animation 5s infinite alternate;
    margin-left:0;
    
}
.rect2{
    background-color: brown;
    height: 250px;
    width: 250px;
    border-radius: 0px;
    border: 1px black dashed;
    transition: all 0.5s;
    margin-top: 20px;

}
.rect2:hover{
    background-image: url(https://i1.sndcdn.com/artworks-SxQiqclzQyBQNEc6-OhOlaQ-t500x500.jpg);
    border-radius: 25px;
    border: 5px brown dashed;
    padding: 5px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
    transform: rotate(180deg) scale(1)
}  
  



@keyframes test_animation {
    0%{
        margin-left:0;
        background-color: rgb(89, 255, 114);

      

       
    }

    50%{
        margin-left:50%;
        background-color: rgb(206, 255, 31)
    }

    100%{
        margin-left:100%;
        background-color: aqua;
    }
}